mat-toolbar {
  position: sticky;
  background: rgb(238, 211, 217);
}

button {
  border: 0;
  outline: none;
  background: transparent;
}

.row {
  margin-left: auto;
}

.user {
  .user-image {
    border-radius: 50%;
    width: 50px;
    height: 50px;
  }

  .image-name {
    font-size: 14px;
  }

  .user-name {
    padding-left: 10px;
  }
}

.centered-buttons {
  margin-left: auto;
  display: flex;
  align-items: flex-end;
}

.center-button-icons {
  display: flex;
}

.profileSettings {
  font-size: 14px;
}
