<mat-nav-list>
  <div class="logo-container py-4">
    <img alt="Logo"
         src="assets/peach.jpg"
         class="logo-image"
         >
  </div>

  <mat-divider></mat-divider>
  <a mat-list-item routerLink="/home" routerLinkActive="list-item-active">
    <mat-icon>home</mat-icon>
    <span class="icon-text">Home</span>
  </a>
  <a mat-list-item routerLink="/dashboard" routerLinkActive="list-item-active">
    <mat-icon>dashboard</mat-icon>
    <span class="icon-text">Dashboard</span>
  </a>
  <a mat-list-item routerLink="/hexa" routerLinkActive="list-item-active">
    <mat-icon>trending_up</mat-icon>
    <span class="icon-text">Hexa</span>
  </a>
  <a mat-list-item routerLink="/income" routerLinkActive="list-item-active">
    <mat-icon>account_balance_wallet</mat-icon>
    <span class="icon-text">Income</span>
  </a>
  <a mat-list-item routerLink="/schedule" routerLinkActive="list-item-active">
    <mat-icon>schedule</mat-icon>
    <span class="icon-text">Schedule</span>
  </a>
  <a mat-list-item routerLink="/information" routerLinkActive="list-item-active">
    <mat-icon>info</mat-icon>
    <span class="icon-text">Information</span>
  </a>
</mat-nav-list>
